@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@600&family=Poppins:wght@200&display=swap");

$myColor: #ff5a5f;
$cursive: "Comforter";
$airBnbFont: "Montserrat";

* {
  box-sizing: border-box;
}

.Test {
  color: $myColor;
  font-family: $airBnbFont, cursive;
}

.Navbar {
  color: blueviolet;
  min-height: 100px;
  font-size: 30px;
  padding: 20px 36px;

  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  .Navbar_title {
    color: $myColor;
    display: flex;
    font-family: $airBnbFont, cursive;

    padding: 4px;
  }
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;

  .hero_img {
    max-width: 600px;
    min-width: 100px;
    align-self: center;
  }
  .hero_header {
    margin-bottom: 16px;
    font-size: 36px;
    align-self: center;
  }
  .hero_text {
    font-family: "Poppins", sans-serif;
    color: #000;
    margin-top: 0px;
    align-self: center;
  }
}

.card {
  max-width: 175px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  .card_img {
    width: 100%;
    border-radius: 9px;
  }
  .card_stats {
    display: flex;
    align-items: center;
  }

  .card_star {
    height: 14px;
  }
  .gray {
    color: #918e9b;
  }
  .bold {
    font-weight: bold;
  }
  .card_soldOut {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
  }
}
.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

/////Travel Info below:

.travel_title {
  display: flex;
  justify-content: center;
  background-color: $myColor;
  padding: 20px;
  color: azure;
  font-weight: 100;
  font-size: 20px;
  .travel_logo {
    margin-right: 6px;
  }
}

.travel_card_container {
  display: flex;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  h3 {
    font-size: 24px;
  }
  img {
    border-radius: 9px;
    max-width: 125px;
  }
  .travel_logo {
    color: $myColor;
    display: inline-block;
  }
  .travel_info {
    margin: 20px 10px;
  }
  .google_link {
    margin-left: 15px;
  }
  .travel_dates {
    font-weight: 800;
  }
}
