@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@600&family=Poppins:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Test {
  color: #ff5a5f;
  font-family: "Montserrat", cursive;
}

.Navbar {
  color: blueviolet;
  min-height: 100px;
  font-size: 30px;
  padding: 20px 36px;
  -webkit-box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.Navbar .Navbar_title {
  color: #ff5a5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", cursive;
  padding: 4px;
}

.hero {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero_img {
  max-width: 600px;
  min-width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .hero_header {
  margin-bottom: 16px;
  font-size: 36px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .hero_text {
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card {
  max-width: 175px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card .card_img {
  width: 100%;
  border-radius: 9px;
}

.card .card_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_star {
  height: 14px;
}

.card .gray {
  color: #918e9b;
}

.card .bold {
  font-weight: bold;
}

.card .card_soldOut {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.travel_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff5a5f;
  padding: 20px;
  color: azure;
  font-weight: 100;
  font-size: 20px;
}

.travel_title .travel_logo {
  margin-right: 6px;
}

.travel_card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.travel_card_container h3 {
  font-size: 24px;
}

.travel_card_container img {
  border-radius: 9px;
  max-width: 125px;
}

.travel_card_container .travel_logo {
  color: #ff5a5f;
  display: inline-block;
}

.travel_card_container .travel_info {
  margin: 20px 10px;
}

.travel_card_container .google_link {
  margin-left: 15px;
}

.travel_card_container .travel_dates {
  font-weight: 800;
}
/*# sourceMappingURL=index.css.map */